/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* ===== Global ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    
}
ul {
    list-style: none;
}
.active {
    color:  #619cc6;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0px; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: right;
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/serena2.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content p {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: #619cc6;
    margin: 5px auto;
    border-radius: 5px;
}
.line1{
    width: 100%;
    height: 0.5px;
    background-color: aliceblue;
    position: absolute;
    top: 70px;
    left: 0;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
em{
    color: #619cc6;
    font-family: none;
    
}
.ctn {
    padding: 8px 15px;
    background:  #619cc6;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn,.close-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}
/* Events */
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color:  #619cc6;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color:  #0a3e05;
    margin: 20px auto;
}
p {
    color:white;
    padding: 0px 40px;
    font-size: 20px;
}
.events .ctn {
    margin-top: 30px;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p {
    color: rgb(221, 221, 221);
}
.explore-content .ctn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: -100px;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}


/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
        /* height: 20px;
        width: 20px; */
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        position: fixed;
        margin-top: 0px;
        border-bottom-left-radius: 30%;
        height: 100%;
        width: 100%;
        padding-left: 200px;
        
    }
   
    .nav-links li {
        margin: 30px auto;
    }
    /* Events */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /* explore */
    .explore-content {
        width: 100%;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    .footer {
        padding: 10px;
    }
}

/* Animations */
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background:  #619cc6;
    color:  white;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color:  #619cc6;
    cursor: pointer;
}